.VideoCard{
    color: white;
    width: 500px;
    height: 400px;
    padding: 40px;
    transition: transform 100ms ease-in-out
}

.VideoCard:hover{
    transform: scale(1.09);
}

.VideoCard>img{
    height: 300px;
    object-fit: contain;
}

.VideoCard>h2{
    padding-top: 10px;
}

.VideoCard>.VideoCard_Stats{
    display: none;
}

.VideoCard:hover>.VideoCard_Stats{
    display: inline-flex;
}